<h1>Northwind Product List</h1>

<form #form1>
  <input #productId type="text" />
  <button (click)="getByProductId(productId.value)">Get By Product ID</button>
</form>

<form #form2>
  <button (click)="addProduct()">Add Product</button>
</form>

<table class="table table-striped table-condensed">
  <tr>
    <th>Product ID</th>
    <th>Product Name</th>
    <th>Product Category ID</th>
  </tr>
  <tr *ngFor="let product of productList">
    <td>{{ product.productId }}</td>
    <td>{{ product.productName }}</td>
    <td>{{ product.categoryId }}</td>
  </tr>
</table>
